body {
    background-image: url(/public/assets/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

h1 {
    text-align: center;
}

img {
    text-align: center;

}

li:first-child {
    font-weight: bold;
}
  
li:last-child {
    font-style: italic;
}