#logo {
    text-align: center;
    margin: 2vh;
    margin-top: 40px;
    font-family: Mono;
}

.destaques {
    text-align: center;
    padding: 8px;
}

.destaques h3 {
    font-size: 1.2em;
    font-family: Mono;
}

.destaques p {
    margin-top: 8px;
}

.cartao {
    display: inline-block;
    width: 270px;
    padding: 8px;
    margin-left: 8px;
    background-color: #cf8e26;

    /* box-shadow: horizontal-offset vertical-offset blur-radius spread-radius color; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.valor {
    margin-top: 14px;
    font-family: Mono;
}

.imgflutuante {
    position: relative;
    right: 20px;
}